# 代码初始化相关
__pycache__/
*.code-workspace
.vscode/
CLAUDE.md

# 数据文件夹
log/
data/tagbase
data/cache
data/audio
data/backup
config/

# 打包相关
build/
dist/
*.spec
*.lnk
*.exe
web_app/users.db
qy.py
generate_test_audio.py
migrate_database.py

# 自定义其他文件
爬虫/
自动打标/
system/
*test.py
*temp.py